<hr/>

    <table>
        <tr>
            <th>Event Name</th>
            <th>Registration Amount</th>
        </tr>
    {{#each events}}
             <tr>
                <td>{{this.eventname}}</td>
                <td>{{this.eventmoney}}</td>
            </tr>
    {{/each}}
    </table>
    <br/>
    <h3>Total Amount    : {{registrationamount}}</h3><br/>
    <br/>





<button id="rzp-button1">CHeckout</button>
<div id=paymentDetails></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
document.getElementById('rzp-button1').onclick = function(e){
        $.post('/userdashboard/eventpayment').then((orderinfo) => {
            console.log(orderinfo);
       
     var options = {
    "key": process.env.RAZORPAY_KEY ,  //Enter your razorpay key
    "currency": "INR",
    "name": {{this.eventname}},
    "description": "Razor Test Transaction",
    "image": "https://previews.123rf.com/images/subhanbaghirov/subhanbaghirov1605/subhanbaghirov160500087/56875269-vector-light-bulb-icon-with-concept-of-idea-brainstorming-idea-illustration-.jpg",
    "order_id":  orderinfo.id ,
    "callback_url": "/userdashboard/eventafterpayment",
    "theme": {
        "color": "#fea500"
    }
};
    var rzp1 = new Razorpay(options);
    rzp1.open(); 
    e.preventDefault();
     });
}
</script>
<br/>
<br/>
<br/>
<br/>
<hr/>


