<hr/>

    <table>
        <tr>
            <th>Event Name</th>
            <th>Registration Amount</th>
        </tr>
    {{#each events}}
             <tr>
                <td>{{this.eventname}}</td>
                <td>{{this.eventmoney}}</td>
            </tr>
    {{/each}}
    </table>
    <br/>
    <h3>Total Amount    : {{registrationamount}}</h3><br/>
    <br/>





<button id="rzp-button1">CHeckout</button>
<div id=paymentDetails></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
document.getElementById('rzp-button1').onclick = function(e){
        $.post('/userdashboard/eventpayment').then((orderinfo) => {
            console.log(orderinfo);
                  
     var options = {
    "key": orderinfo[0].key,  //Enter your razorpay key
    "currency": "INR",
    "name": "ISTE TKMCE",
    "description": orderinfo[0].name,
    "image": "http://istetkmce.in/images/GEARFINAL.png",
    "order_id":  orderinfo[0].id ,
    "callback_url": "/thankyou",
    "theme": {
        "color": "#fea500"
    }
};
    var rzp1 = new Razorpay(options);
    rzp1.open(); 
    e.preventDefault();
     });
}
</script>
<br/>
<br/>
<br/>
<br/>
<hr/>


